<% content_for :head do %>
<title>ATDC Admin Dash</title>
<%end%>

<% content_for :body do %>
<div class="row">
	<div class="col-xs-10">
		<h3 style="font-family:monospace"> Welcome, <%= @email %>. Keeping it weird, I trust?</h3>
	</div>
</div>
<%end%>
