<% content_for :head do %>
<title>ATDC: All the Admins</title>
<%end%>



  <% content_for :body do %>
  <div class="row">
  <h3 style="font-family:monospace">All yer admins! (Click on an email to update email/password.)</h3>

  <% @admins.each do |a| %>
    <a href="/admins/<%= a.id %>/edit"><%= a.email %></a> <%if a.level == 1%> - Super Admin!<%end%> 
    <% if session[:user_id] != a.id%> | 
    <a href="/admins/<%= a.id%>" data-method="delete" data-confirm="Are you SURE you want to delete this admin?">Delete Admin. PERMANENTLY.</a><%end%><br>
  <%end%>
</div>
<%end%>
